[include]
	path = ~/.gitconfig.d/delta-themes.gitconfig

[core]
	editor = emacs
	page = "less -r"
	pager = delta
	excludesfile = ~/.gitignore
	autocrlf = false

[delta]
	features = mantis-shrimp
	# 以下はmantis-shrimpの設定を上書き
	side-by-side = false
	commit-decoration-style = None
	commit-style = raw
	hunk-header-decoration-style = None
	hunk-header-style = file line-number
	syntax-theme = Dracula
	line-numbers-left-format = "{nm:>3}|"
	line-numbers-right-format = "{np:>3}|"

[user]
	name = Toru TAMURA
	email = torut@ttsoft.jp

[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	ad = add
	br = branch
	co = checkout
	ci = commit
	st = status --short
	di = diff
	dc = diff --cached
	ps = push
	pl = pull
	s = show
	l = log --date=iso --format=medium
	ls = log --date=iso --name-status
	history = log --graph --date=iso --pretty=format:'%C(green)%h%C(reset) %C(cyan)%cd%C(reset) %cn %C(red)%d%C(reset) %C(white bold)%s%C(reset)'
	history-stat = log --graph --date=iso --stat --pretty=format:'%C(cyan)%ad%C(reset) %C(magenta)%cn%C(reset) %C(green)%h%C(reset)%n%C(red)%d%C(reset)%n%C(white bold)%s%C(reset)%n'
	h  = !git history
	hs = !git history-stat
	h-all  = !git history --all
	hs-all = !git history-stat --all
	cherry-pick = cherry-pick --no-commit
	cpn = cherry-pick --no-commit
	graph = log --graph --oneline --decorate --all
	newbranch = checkout -b
	nb = !git newbranch

	svn-up = svn rebase
	svn-commit = svn dcommit
	svn-ci = !git svn-commit

	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v

	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend

	prestage = diff -w --word-diff=color
	precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

[branch]
	autosetuprebase = always

[pull]
	rebase = true

[push]
	default = current

[merge]
	ff = false					# later of 1.7.6

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
