[core]
	editor = emacs
	page = "lv -c"
	excludesfile = ~/.gitignore

[user]
	name = Toru Tamura
	email = torut@ttsoft.jp

[alias]
	ad = add
	add-update = add --update
	ad-u = add --update
	br = branch
	co = checkout
	ci = commit
	st = status --short
	di = diff
	di-cached = diff --cached
	dc = diff --cached
	ps = push
	pl = pull
	s = show
	up = pull --rebase
	l = log --date=iso --format=medium
	ls = log --name-status
	history = log --graph --date=short --pretty=format:'%C(green)%h%C(reset) %C(cyan)%cd%C(reset) %cn %C(red)%d%C(reset) %C(white bold)%s%C(reset)'
	history-stat = log --graph --pretty=format:'%C(cyan)%ad%C(reset) %C(magenta)%cn%C(reset) %C(green)%h%C(reset)%n%C(red)%d%C(reset)%n%C(white bold)%s%C(reset)%n' --stat
	h  = !git history
	hs = !git history-stat
	export = archive --format=tar HEAD
	cherry-pick = cherry-pick --no-commit
	lstat = log --stat
	develop = checkout develop
	dev = checkout develop
	master = checkout master
	svn-up = svn rebase
	svn-commit = svn dcommit
	svn-ci = !git svn-commit
	svn-info = svn info
	svn-co = svn clone
	svn-log = svn log
	gr = grep -H --heading --break --line-number
	graph = log --graph --oneline --decorate --all
	nb = checkout -b
	noffmerge = merge --no-ff

[http]
	sslVerify = false

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

[pull]
	rebase = true

[push]
#	default = simple

[merge]
	ff = false					# later of 1.7.6
