[core]
	editor = emacs
	page = "less -r"
	excludesfile = ~/.gitignore

[user]
	name = Toru Tamura
	email = torut@ttsoft.jp

[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	ad = add
	br = branch
	co = checkout
	ci = commit
	st = status --short
	d = diff
	di = diff
	dc = diff --cached
	ps = push
	pl = pull
	s = show
	l = log --date=iso --format=medium
	ls = log --name-status
	history = log --graph --date=short --pretty=format:'%C(green)%h%C(reset) %C(cyan)%cd%C(reset) %cn %C(red)%d%C(reset) %C(white bold)%s%C(reset)'
	history-stat = log --graph --pretty=format:'%C(cyan)%ad%C(reset) %C(magenta)%cn%C(reset) %C(green)%h%C(reset)%n%C(red)%d%C(reset)%n%C(white bold)%s%C(reset)%n' --stat
	h  = !git history
	hs = !git history-stat
	export = archive --format=tar HEAD^{tree}
	cherry-pick = cherry-pick --no-commit
	lstat = log --stat
	develop = checkout develop
	dev = checkout develop
	master = checkout master
	svn-up = svn rebase
	svn-commit = svn dcommit
	svn-ci = !git svn-commit
	gr = grep -H --heading --break --line-number
	graph = log --graph --oneline --decorate --all
	nb = checkout -b
	noffmerge = merge --no-ff

[http]
	sslVerify = false

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto


[branch]
	autosetuprebase = always

[pull]
	rebase = true

[push]
	default = current

[merge]
	ff = false					# later of 1.7.6

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
